* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header{
  width: 100%;
  height: 50px;
}

header, .step{
  background-color: #ff9a4b;
}

main{
  width: 980px;
  margin: 50px auto;
  display: flex;
}

.introduction{
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}
.introduction:last-child{
  margin-right: 0;
}

.step{
  position: absolute;
  color: white;
  top: 0;
  left: 0;
}

.image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.title{
  padding: 15px 0 5px 0;
}


footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width:768px){
  header{
    width: 100%;
  }
  main{
    width: 100%;
    display: block;
  }
  .introduction{
    width: 90%;
    margin: 20px 5%;
  }
  .image1, .image2, .image3{
    height: 150px;
    background-position: center;
  }
  footer{
    width: 100%;
  }
}